section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  div {
    &.container {
      max-width: 90vw;
      margin: 0px auto;

      padding-left: var(--container-padding-left);
      padding-right: var(--container-padding-right);

      > div {
        width: 100%;
        height: 4rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &.main {
      flex-grow: 1;
    }
  }
}
